<h1>予約確認</h1>

<p>チェックイン日： <%= @reservation.check_in_at %></p>
<p>チェックアウト日： <%= @reservation.check_out_at %></p>
<p>宿泊日数： <%= (@reservation.check_out_at - @reservation.check_in_at).to_i %> 泊</p>
<p>人数： <%= @reservation.number_of_guests %> 人</p>
<p>支払い金額: <%= calculate_payment_amount(@reservation) %> 円</p>

<%= link_to "予約確定", reservation_path(@reservation), method: :post %>