<h1>施設検索</h1>

<%= link_to search_rooms_path(address: '東京') do %>
  <%= image_tag("tokyo.jpg", class: "search-image") %>
<% end %>

<%= link_to search_rooms_path(address: '大阪') do %>
  <%= image_tag("osaka.jpg", class: "search-image") %>
<% end %>

<%= link_to search_rooms_path(address: '京都') do %>
  <%= image_tag("kyoto.jpg", class: "search-image") %>
<% end %>

<%= link_to search_rooms_path(address: '札幌') do %>
  <%= image_tag("sapporo.jpg", class: "search-image") %>
<% end %>

<!-- 検索フォームを作成 -->
<%= form_with(url: search_rooms_path, method: :get) do |f| %>
  <%# <%= f.label :area, "エリア検索" %>
  <%# <%= f.select :area, options_for_select(['東京', '大阪', '京都', '札幌']), prompt: '選択してください' %> 

  <%= f.label :keywords, "検索" %>
  <%= f.text_field :keywords %>

  <%= f.submit "検索" %>
<% end %>

