<h1>施設検索</h1>

<!-- 検索フォームを作成 -->
<%= form_with(url: search_rooms_path, method: :get) do |f| %>
  <%# <%= f.label :area, "エリア検索" %>
  <%# <%= f.select :area, options_for_select(['東京', '大阪', '京都', '札幌']), prompt: '選択してください' %> 

  <%= f.label :keywords, "検索" %>
  <%= f.text_field :keywords %>

  <%= f.submit "検索" %>
<% end %>

