<h1>施設一覧</h1>

<% if current_user.rooms.present? %>
  <% current_user.rooms.each do |room| %>
    <div>
      <% if room.photo.present? %>
        <%= image_tag room.photo %>
      <% else %>
        <%= image_tag "shisetsu/default-room-photo.png" %>
      <% end %>
      <h2><%= link_to room.name, room_path(room) %></h2>
      <p><%= room.description %></p>
      <p>価格: <%= room.price %></p>
      <p>住所: <%= room.address %></p>
      <p>登録日: <%= room.created_at.strftime("%Y年%m月%d日") %></p>
    </div>
  <% end %>
<% else %>
  <p>部屋がありません</p>
<% end %>