<h1>新しい施設を作成する</h1>

<%= form_with(model: @room, url: rooms_path, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :price %>
  <%= form.number_field :price %>

  <%= form.label :address %>
  <%= form.text_field :address %>

  <%= form.submit "作成する" %>
<% end %>