<% if @room.photo.attached? %>
  <%= image_tag @room.photo %>
<% else %>
  <%= image_tag "shisetsu/default-room-photo.png" %>
<% end %>

<h1><%= @room.name %></h1>
<p><%= @room.description %></p>
<p>宿泊料金： <%= @room.price %>円/日</p>
<p><%= link_to '予約する', new_reservation_path(room_id: @room.id) %></p>


<%= link_to "前のページに戻る", :back %>